<div class="main-container">
    <div class="select-el-container" >
    <select class="select-el">
        <option>Area (Km2)</option>
        <option>Population (2011 census)</option>
        <option>Distillery</option>
        <option>Crime</option>
    </select>
</div>
    <div class="analytics-container">
        <div>
        <h1 class="excise-dept-heading">Telangana Excise <br>Department</h1>
    </div>
        <div class="sub-div">
            <div class="sub-div1">
                <h4 class="excise">Excise</h4>
                <h5 class="count">809</h5>
                <p class="month">Monthly</p>

            </div>
            <div  class="sub-div1">
                <h4 class="excise">Distillery</h4>
                <h5 class="count">18734</h5>
                <p class="month">Year</p>

            </div>
            <div  class="sub-div1">
                <h4 class="excise">Enforcement</h4>
                <h5 class="count">19894</h5>
                <p class="month">3 Year</p>

            </div>
        
        <div class="ts-map-container">
            <img src="https://res.cloudinary.com/dqhiauk0o/image/upload/v1721104789/Subject_izo2xg.png" alt = 'ts excise map' class="ts-map"/>
        </div>
        
        </div>
    </div>

</div>