.footer {
    background-image: linear-gradient(195deg, #172a74 0%, #21a9af 100%);
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

}

p {
    color: #fff;
    font-weight: 600;
    font-size: small;
}

a {
    color: blue;
}