<div class="home-mid-component">
    <ul>
      <li>
        <div class="services-container">
          <div class="fa fa-check check-icon"></div>
          <h4>Analytics</h4>
          <p>E - Transaction: Today 0</p>
          <p>E - Transaction: Till Date 55,17,041</p>
          <p>Licensee</p>
          <p>Registered User 29,900</p>
          <p>Permit/Pass Issued 7,53,657</p>
          <p>Portal</p>
          <a
            href="https://excise.telangana.gov.in /RDLCReports/G.O.Ms.No.86-01.08.2023- Notification.pdf"
            >https://excise.telangana.gov.in /RDLCReports/G.O.Ms.No.86-01.08.2023-
            Notification.pdf</a
          >
        </div>
      </li>
      <li>
        <div class="services-container">
         <i class="bi bi-check check-icon"></i>
          <h4>What's Current</h4>
          <p>Annual scheduled maintenance</p>
          <p>User Manual Import BL to Medical and Industrial</p>
          <p>Heritage Liquor License Process User Manual.</p>
          <a
            href="https://onlinetsmc.in/wp- content/uploads/2024/01/CODE-OF- MEDICAL-ETHICS.pdf"
          >https://onlinetsmc.in/wp- content/uploads/2024/01/CODE-OF- MEDICAL-ETHICS.pdf</a>
        </div>
      </li>
      <li>
        <div class="services-container">
          <div class="fa fa-check check-icon"></div>
          <h4>Services</h4>
          <p>Apply For New Excise License</p>
          <p>License/Permit/NOC/EVC Verification</p>
          <p>LOI</p>
          <p>Public DashboardView All</p>
        </div>
      </li>
      <li>
        <div class="services-container">
          <div class="fa fa-check check-icon"></div>
          <h4>Quick Links</h4>
          <p>Abouts</p>
          <p>Facts & Figures</p>
          <p>Acts, Rules & Orders</p>
          <p>Right Of Information</p>
          <p>Feedback</p>
          <p>Contact Us</p>
          <a
            href="https://dcmsme.gov.in/old/dips /state_wise_dips/TS-Profile.pdf"
          >
            https://dcmsme.gov.in/old/dips /state_wise_dips/TS-Profile.pdf
          </a>
        </div>
      </li>
      <li>
        <div class="services-container">
          <div class="fa fa-check check-icon"></div>
          <h4>Required Documents for Allotment of A4 Shop Licenses</h4>
          <p>Venue for the Receipt of Applications , Drawl of Lots .</p>
          <a
            href="http://www.etdut.gov.in /exciseonline/misc/excise_checklist.pdf">More info...
          </a>
        </div>
      </li>
      <li>
        <div class="services-container">
          <div class="fa fa-check check-icon"></div>
          <h4>Connect With Us</h4>
          <p>
            PROHIBITION AND EXCISE STATION CHARMINAR, Address: 25, Andhra Colony,
            New Malakpet, Hyderabad, Telangana 500036,Hours: Open 24 hours Phone:
            040 2473 7780
          </p>
        </div>
      </li>
    </ul>
  </div>